<h1>Welcome to Our Store</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <!-- Clickable Image -->
        <% if product.main_photo.attached? %>
          <%= link_to image_tag(product.main_photo, class: "card-img-top", alt: product.name), product_path(product) %>
        <% end %>
        <div class="card-body">
          <!-- Clickable Title -->
          <h5 class="card-title">
            <%= link_to product.name, product_path(product), class: "text-decoration-none" %>
          </h5>
          <p class="card-text"><%= product.product_category.name %></p>
          <p class="card-text"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
          <!-- See More Button -->
          <%= link_to "See More", product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
