<%= form_with model: product do |form| %>
    <div>
      <%= form.label :name %>
      <div class="field">
        <%= form.label :product_category_id, "Category" %>
        <%= form.collection_select :product_category_id, @categories, :id, :name, prompt: "Select a category" %>
    </div>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  