<h1>Products</h1>

<%= link_to "New product", new_product_path %>

<div id="products">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div>
        <strong><%= link_to product.name, product %></strong>
        <p>Category: <%= product.product_category.name %></p>
        <p>SKU: <%= product.sku %></p>
        <p>Price: <%= number_to_currency(product.price) %></p>
        <p>Quantity: <%= product.quantity %></p>
      </div>
    <% end %>
  <% else %>
    <p>No products available.</p>
  <% end %>
</div>

