<!DOCTYPE html>
<html>
<head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <%= link_to "Admin Dashboard", admin_products_path, class: "navbar-brand" %>
  <%= button_to "Log out", admin_root_path, method: :delete, class: "btn btn-danger" %>
</nav>
<div class="d-flex">
    <!-- Sidebar -->
    <div class="bg-light border-end" id="sidebar" style="min-width: 200px; height: 100vh;">
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to "All Products", admin_products_path, class: "text-decoration-none" %>
        </li>
        <li class="list-group-item">
        <%= link_to "Variations", admin_variations_path, class: "text-decoration-none" %>
      </li>
      


        <li class="list-group-item">
          <%= link_to "All Categories", admin_product_categories_path, class: "text-decoration-none" %>
        </li>
        <li class="list-group-item">
          <%= link_to "All Tags", admin_tags_path, class: "text-decoration-none" %>
        </li>
        <li class="list-group-item">
          <%= link_to "All Pages", admin_pages_path, class: "text-decoration-none" %>
        </li>
        <li class="list-group-item">
          <%= link_to "Registered Customers", admin_customers_path, class: "text-decoration-none" %>
        </li>
      </ul>
    </div>


    <!-- Main Content -->
    <div class="flex-grow-1 p-4">
      <%= yield %>
    </div>
  </div>
</body>
</html>