<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <main class="container mt-4">
      <%= yield %>
         <div class="text-center mt-4">
      <p class="text-muted">
        <%= Setting.find_by(key: 'site_description')&.value || "Welcome to our store!" %>
      </p>
    </div>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
